@import "reset";
@import "variables";
@import "mixins";

#main-nav{
  background: $greenDay;
  ul{
    width: 100%;
  }
  li{
    float: left;
    width: (100% / 5);
    @include mQ(600px){
      width: 100%;
    }
  }
  a{
    color: $offWhite;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
    &:hover{
      background: lighten($greenDay, 6);
    }
  }

  @include clearFix;
}

section h1{
  margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
  color: $greenDay;
  font-size: $sectionHeading;
}

#services{
  li{
    float: left;
    width: (100% / 5);
    box-sizing: border-box;
    text-align: center;
  }
  img{
    width: 140px;
    height: 200px;
    margin: 20px 20%;
    &:hover {
      @include opacity;
  }
  }
  a{
    text-decoration: none;
    color: $greenDay;
    font-weight: bold;
    &:hover{
      color: complement($linkHover);
    }
  }
  @include clearFix;
  margin-bottom: 60px;
}

.lead-banner{
  @include banner;
  text-align: right;
}

.lessons-banner{
  @include banner;
  text-align: left;

  li{
    text-transform: uppercase;
    font-size: 20px;
    max-width: 500px;
    margin: 60px 0;
  }
}

#projects li{
  @include grid(6, 2%);
  img{
    width: 160px;
    height: 200px;
    border-radius: 200px;
  }
  img:hover {
    @include upsideDown;
  }
  a {
    color: $blueWriting;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    &:hover{
      color: complement($linkHover);
    }
  }
}

#footer {
  background: $greenDay;
  height: 50px;
  line-height: 50px;
  margin-top: 300px;
  color: $offWhite;
  text-align: center;
}